# Build output and package storage
node_modules/
.svelte-kit/
src-tauri/target/
build/

# Backups & Secrets
*.bak
.env
.env.*
!.env.example

# AI Agent configs
.agents/
opencode.json

# Generated Assets
src/lib/styles/gen.css
tests/report.xml

*storybook.log
storybook-static
